<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonHeader">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!--  <link href="bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.min.css}"  rel="stylesheet">-->





</head>
<body>

  <div id="nav" class="bar">
    <!--导航栏头-->
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark fixed-top">

      <!--  容器头-->
      <div class="container nav-main">

        <!-- Brand/logo头 -->
        <div>
<!--          <a class="navbar-brand" href="#">-->
<!--          <img src="https://static.runoob.com/images/mix/bird.jpg" alt="logo" style="width:40px;">-->
<!--        </a>-->
          <a class="navbar-brand" th:href="@{/home}">PhotosInn</a>
        </div>
        <!-- Brand/logo尾 -->

        <!-- 导航菜单头-->
        <div class="collapse navbar-collapse">
            <!-- 左Links头 -->
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">介绍</a>
            </li>
          </ul>
            <!-- 左Links尾 -->

            <!-- 右Links头 -->
            <ul class="navbar-nav navbar-right navbar-expand-sm">
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>

            <!-- 下拉头 -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                用户
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/login}">登录</a>
                <a class="dropdown-item" th:href="@{/register}">注册</a>
              </div>
            </li>
              <!-- 下拉尾 -->
          </ul>
            <!-- 右Links尾 -->
        </div>
        <!-- 导航菜单尾-->
      </div>
      <!--  容器尾-->

    </nav>
    <!--导航栏尾-->
  </div>




  <div th:fragment="commonjs">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>





</body>
</html>