<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <div th:replace="common :: commonHeader"></div>


</head>
<body>

<!--导航栏头-->
<div th:replace="common::#nav"></div>

<br><br><br><br>


<div class="container kv-main">


  <div class="page-header">
    <h1>上传图片</h1>
    <p>单张图片大小不得超过10MB，一次最多发送十张图片</p>
  </div>

  <form role="form" th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputFile"></label>
      <input type="file" name="photos" multiple id="exampleInputFile">
      <p class="help-block">可选择多个图片</p>
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
  </form>

  <br><br><br><br>

  <table >
    <thead>
    <tr>
<!--      <th th:text="${list}? 'uuid'"></th>-->
      <th th:text="${list}? '图片名'"></th>
<!--      <th th:text="${list}? '预览'"></th>-->
      <th th:text="${list}? '链接'"></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="photo :${list}">
<!--      <td th:text="${photo.getUuid()}" ></td>-->
      <td th:text="${photo.getName()}"></td>
<!--      <td> <img th:src="${/photo.getPath()+photo.getName()}"></td>-->
      <td th:text="${photo.getPath()}"></td>
    </tbody>
  </table>

<!--  http://localhost/photos/visitor/B4981E.jpg-->
<!--  http://localhost/photos/visitor/%E5%8B%87%E6%95%A2%E7%8B%97%E7%8B%97.jpg-->
<!--  <img src="photos/visitor/B4981E.jpg">-->
</div>

<div th:replace="common :: commonjs"></div>
</body>
</html>